div{
    width: 200px;
    height: 200px;
}
p{
    margin: 0;
}
.first{
    background-color: red;
    padding: 20px;
    border: 10px black solid;
}
.second{
    background-color: green;
    border-top: 20px black solid;
    border-bottom: 20px black solid;
    border-right: 10px black solid;
    border-left: 10px black solid;
    margin-left: 260px;
}
.third{
    background-color: blue;
    border: 10px black solid;
    margin-left: 480px;
}